$color-blue: #4b99ff;
$color-wathet: #32cfd9;
$color-green: #6ed240;
$color-orange: #ffad26;
$color-red: #ff4644;
$color-default: #ccc;
$color-underline: #ddd;
$color-default-background: #ebebeb;
$color-card-line: #eee;

$color-topbar: rgb(92,155,248);

